<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="value.css">
</head>

<body>
    <div>
        <form method="post" action="/register">
            <input type="text" name="username" placeholder="enter your name" class="inputF" />
            <input type="email" name="email" placeholder="enter your email" class="inputF" />
            <input type="password" name="password" placeholder="enter your password" class="inputF" />
            <button type="submit" class="submitBtn">Send data</button>
        </form>
    </div>
</body>

</html>